---
import { getCollection } from "astro:content";
import PostPreview from "../../components/PostPreview.astro";
import Tags from "../../components/Tags.astro";
const allBlogPosts = await getCollection(
  "blog",
  (blog) => blog.data.draft !== true,
);
import Layout from "../../layouts/Layout.astro";
const tags = allBlogPosts
  .map((blog) => blog.data.tags)
  .flat()
  .reduce<{ [key: string]: number }>(function (result, c) {
    var count = result[c] || 0;
    result[c] = count + 1;
    return result;
  }, {});
const sortedPosts = allBlogPosts.sort(
  (a, b) => +new Date(b.data.date) - +new Date(a.data.date),
);
---

<Layout title="The Thomas Ledoux blog">
  <section>
    <h1 class="text-center text-2xl lg:text-5xl font-bold mb-6">
      Personal blog
    </h1>
    <div class="flex flex-col lg:grid grid-cols-4 gap-6">
      <div
        data-pagefind-ignore="all"
        class="flex flex-col order-2 lg:order-1 gap-6 lg:gap-9 col-span-3"
      >
        {sortedPosts.map((post, i) => <PostPreview {post} index={i} />)}
      </div>
      <div class="lg:top-4 lg:sticky order-1 lg:order-2 lg:h-screen">
        <h2 class="text-2xl mb-4">Tags</h2>
        <Tags tags={tags} />
      </div>
    </div>
  </section>
</Layout>
