---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  description="Find contact information for Thomas Ledoux here"
  title="Thomas Ledoux | Contact"
>
  <section>
    <div class="grid md:grid-cols-2 gap-6 content-center align-items">
      <div class="flex flex-col justify-center">
        <img
          alt="Illustration of man sitting on a block"
          src="/contact.svg"
          width={645}
          height={750}
          class="max-h-[250px] lg:max-h-[500px]"
        />
      </div>
      <div class="flex justify-center flex-col">
        <h2 class="mb-6 text-2xl font-bold">Drop me a message</h2>
        <form method="post" action="/contact.form">
          <label class="flex flex-col gap-2 mb-4" for="email">
            Your e-mail
            <input
              class="py-2 px-4 bg-white border-secondary border-2 rounded-lg"
              id="email"
              type="email"
              name="email"
              placeholder="info@example.com"
              required
            />
          </label>
          <label class="flex flex-col gap-2" for="message">
            Your message
            <textarea
              class="py-2 px-4 bg-white border-secondary border-2 rounded-lg"
              rows={3}
              id="message"
              name="message"
              placeholder="Hey, I would like to get in touch with you"
              required></textarea>
          </label>

          <button
            class="px-8 mt-4 py-4 bg-secondary text-white rounded-lg lg:hover:scale-[1.04] transition-transform"
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </section>
</Layout>
