---
export const prerender = true;
import Layout from '../../layouts/Layout.astro';
---

<Layout
  description="Find contact information for Thomas Ledoux here"
  title="Thomas Ledoux | Contact"
>
  <section class="m-auto">
    <h1 class="text-center text-2xl lg:text-5xl">
      Thank you for your message! I&apos;ll get back to you shortly!
    </h1>
  </section>
</Layout>
