---
import '../../styles/global.css';
import Layout from '../layouts/Layout.astro';
---

<title>Thomas Ledoux | Home</title>
<Layout title="Thomas Ledoux - Admin">
  <section
    class="flex flex-col w-full h-full items-center justify-center gap-4"
  >
    <form action="/login.form" method="POST">
      <input name="email" type="email" placeholder="E-mail" />
      <input name="password" type="password" placeholder="Password" />
      <button type="submit">Submit</button>
    </form>
  </section>
</Layout>

<script>
  document.querySelector('form')?.addEventListener('submit', () => {
    fetch('/login');
  });
</script>
