---
import Layout from '../layouts/Layout.astro';
const cookie = Astro.request.headers.get('cookie');
const token = cookie
  ?.split(';')
  .find(el => el.includes('sb:token'))
  ?.split('sb:token=')?.[1];
import { createClient } from '@supabase/supabase-js';
const supabaseUrl = import.meta.env.SUPABASE_URL;
const supabaseKey = import.meta.env.SUPABASE_KEY;
const supabase = createClient(supabaseUrl, supabaseKey);
const user = await supabase.auth.api.getUser(token ?? '');
if (!user) {
  return Astro.redirect('/admin');
}
const { data: blogViewCounts } = await supabase.from('blogs').select();
console.log(blogViewCounts);
---

<Layout>
  <section>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
      const ctx = (
        document.getElementById('myChart') as HTMLCanvasElement
      )?.getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [
            {
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </section>
</Layout>
