---
import '../../styles/global.css';
import Layout from '../layouts/Layout.astro';
Astro.response.headers.set(
  'cache-control',
  'public, max-age=0, s-max-age=86400'
);
---

<Layout
  description="Thomas Ledoux' personal website"
  title="Thomas Ledoux - Home"
  preloadImage="https://res.cloudinary.com/dzrea5zhv/image/upload/c_scale,w_250/f_auto/q_80/v1583171588/me_qvrwky.jpg"
  preloadImageSrcSet="https://res.cloudinary.com/dzrea5zhv/image/upload/c_scale,w_250/f_auto/q_80/v1583171588/me_qvrwky.jpg 420w, https://res.cloudinary.com/dzrea5zhv/image/upload/c_scale,w_300/f_auto/q_80/v1583171588/me_qvrwky.jpg 2040w"
  preloadImageSizes="(max-width: 767px) 75vw, 45vw"
>
  <section class="relative lg:pt-0 items-center flex h-full">
    <div
      class="gap-8 w-full flex flex-col lg:flex-row items-center justify-between h-full"
    >
      <h1
        class="text-4xl flex-grow font-bold md:text-7xl md:leading-[1.1] flex flex-col items-center md:items-start"
      >
        <span>Thomas is a</span>
        <a class="title-part" href="/portfolio"> developer</a>
        <a class="title-part whitespace-nowrap" href="/personal">
          badminton player</a
        >
        <a class="title-part" href="/personal"> travel lover</a>
      </h1>
      <div class="w-3/4 mx-auto lg:ml-auto lg:mr-0">
        <img
          class="rounded-full mx-auto md:ml-auto md:mr-0"
          alt="Profile"
          src="https://res.cloudinary.com/dzrea5zhv/image/upload/c_scale,w_250/f_auto/q_80/v1583171588/me_qvrwky.jpg"
          fetchpriority="high"
          width={320}
          height={320}
          srcset="https://res.cloudinary.com/dzrea5zhv/image/upload/c_scale,w_250/f_auto/q_80/v1583171588/me_qvrwky.jpg 420w, https://res.cloudinary.com/dzrea5zhv/image/upload/c_scale,w_450/f_auto/q_80/v1583171588/me_qvrwky.jpg 2040w"
          sizes="(max-width: 767px) 75vw, 45vw"
        />
      </div>
    </div>
  </section>
</Layout>
