---
import { Image, getImage } from "astro:assets";
import profilePicture from "./../assets/1685639156921_x0ltzi.jpg";
const mobileProfilePicture = await getImage({
  src: profilePicture,
  width: 320,
});
const desktopProfilePicture = await getImage({
  src: profilePicture,
  width: 480,
});
import "../../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout
  description="Thomas Ledoux' personal website. Writes about Javascript/React/Next.js/Remix/Astro. Always looking to learn about the newest frameworks and features."
  title="Thomas Ledoux - Home"
>
  <section class="relative lg:pt-0 items-center flex flex-wrap h-full my-auto">
    <div
      class="gap-12 w-full flex flex-col lg:flex-row items-center justify-between h-full"
    >
      <h1
        class="lg:text-6xl text-border-black xl:text-7xl 2xl:text-[5.25rem] flex-grow font-bold text-4xl sm:text-6xl text-center lg:text-left md:leading-[1.1] flex flex-col items-center lg:items-start"
      >
        <span>Thomas Ledoux.</span><span>Developer.</span><span
          >Badminton player.</span
        ><span>Travel lover.</span>
      </h1>
      <div class="w-[15rem] lg:w-[20rem]">
        <Image
          src={profilePicture}
          class="rounded-full mx-auto md:ml-auto lg:mr-0 aspect-square max-w-[15rem] lg:max-w-[20rem] max-h-[15rem] lg:max-h-[20rem] w-full"
          alt="Thomas Ledoux profile"
          loading="eager"
          decoding="sync"
          widths={[360, 640, 768, 1024, 1280, 1568]}
          sizes="(max-width: 1023px) 240px, 320px"
          srcset={`${mobileProfilePicture.src} 240w, ${desktopProfilePicture.src}`}
        />
      </div>
    </div>
    <div
      class="hidden lg:block bg-secondary text-nowrap py-4 px-1 vertical-text break-all fixed top-1/2 z-40 left-0 -translate-y-1/2 text-white font-bold rounded-r-lg"
    >
      <p>
        I am looking for work for my side business. <a
          class="underline"
          href="mailto:hello@thomasledoux.be">Contact me</a
        >
      </p>
    </div>
  </section>
</Layout>
