<html>
  <head>
    <title>Login</title>
    <script>
      import { signIn } from '@astro-auth/client';
      document.addEventListener('DOMContentLoaded', () => {
        document
          .getElementById('githubLogin')
          ?.addEventListener('click', async () => {
            await signIn({
              provider: 'github',
            });
          });
      });
    </script>
  </head>
  <body>
    Login using <button id="githubLogin">GitHub</button>
  </body>
</html>
