---
import PageViewsComponent from "~/components/PageViews";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Page views" description="Page views">
  <h1 class="text-2xl mb-4">Page views (migrated from GA on 4 Jan. 2024)</h1>
  <PageViewsComponent client:load />
</Layout>
