---
import FooterLink from "./FooterLink.astro";
---

<footer
  class="fixed bottom-4 left-1/2 -translate-x-1/2 z-30 max-w-[92%] pt-14 px-4"
>
  <nav
    class="bg-primary rounded-2xl flex items-center px-3 lg:px-4 py-4 lg:py-6"
  >
    <ul class="flex">
      <FooterLink label="Home" href="/" />
      <FooterLink label="Personal" href="/personal" />
      <FooterLink label="Portfolio" href="/portfolio" />
      <FooterLink label="Blog" href="/blog" />
      <FooterLink label="Contact" href="/contact" />
      <li class="bg-secondary h-[1.82rem] w-[2px] mx-2"></li>
      <FooterLink
        label="LinkedIn"
        href="https://www.linkedin.com/in/thomasledoux91"
      />
      <FooterLink label="GitHub" href="https://github.com/thomasledoux1" />
    </ul>
  </nav>
</footer>
