---
import FooterLink from "./FooterLink.astro";
import HomeLogo from "../assets/HomeLogo.svg";
import PersonalLogo from "../assets/PersonalLogo.svg";
import PortfolioLogo from "../assets/PortfolioLogo.svg";
import SearchLogo from "../assets/SearchLogo.svg";
import BlogLogo from "../assets/BlogLogo.svg";
import ContactLogo from "../assets/ContactLogo.svg";
import LinkedInLogo from "../assets/LinkedInLogo.svg";
import BlueSkyLogo from "../assets/BlueSkyLogo.svg";
---

<footer
  class="fixed bottom-4 left-1/2 -translate-x-1/2 z-30 max-w-[92%] pt-14 px-2 lg:px-4"
>
  <nav
    class="bg-primary rounded-2xl flex items-center px-3 lg:px-4 py-4 lg:py-6"
  >
    <ul class="flex">
      <FooterLink label="Home" href="/"><HomeLogo /></FooterLink>
      <FooterLink label="Personal" href="/personal"><PersonalLogo /></FooterLink
      >
      <FooterLink label="Portfolio" href="/portfolio"
        ><PortfolioLogo /></FooterLink
      >
      <FooterLink label="Blog" href="/blog"><BlogLogo /></FooterLink>
      <FooterLink label="Search" href="/search"><SearchLogo /></FooterLink>
      <li class="bg-secondary h-[1.82rem] w-[2px] mx-2"></li>
      <FooterLink label="Contact" href="mailto:hello@thomasledoux.be"
        ><ContactLogo /></FooterLink
      >
      <FooterLink
        label="LinkedIn"
        href="https://www.linkedin.com/in/thomasledoux91"
        ><LinkedInLogo /></FooterLink
      >
      <FooterLink
        label="BlueSky"
        href="https://bsky.app/profile/thomasledoux.be"
        ><BlueSkyLogo /></FooterLink
      >
    </ul>
  </nav>
</footer>
