---
import FooterLink from "./FooterLink.astro";
import {
  GithubLogo,
  LinkedInLogo,
  BlogLogo,
  ContactLogo,
  HomeLogo,
  PersonalLogo,
  PortfolioLogo,
} from "./Logos/index.astro";
---

<footer
  class="fixed bottom-4 left-1/2 -translate-x-1/2 z-30 max-w-[92%] pt-14 px-4"
>
  <nav
    class="bg-primary rounded-2xl flex items-center px-3 lg:px-4 py-4 lg:py-6"
  >
    <ul class="flex">
      <FooterLink label="Home" href="/"><HomeLogo /></FooterLink>
      <FooterLink label="Personal" href="/personal"><PersonalLogo /></FooterLink
      >
      <FooterLink label="Portfolio" href="/portfolio"
        ><PortfolioLogo /></FooterLink
      >
      <FooterLink label="Blog" href="/blog"><BlogLogo /></FooterLink>
      <li class="bg-secondary h-[1.82rem] w-[2px] mx-2"></li>
      <FooterLink label="Contact" href="mailto:hello@thomasledoux.be"
        ><ContactLogo /></FooterLink
      >
      <FooterLink
        label="LinkedIn"
        href="https://www.linkedin.com/in/thomasledoux91"
        ><LinkedInLogo /></FooterLink
      >
      <FooterLink label="GitHub" href="https://github.com/thomasledoux1"
        ><GithubLogo /></FooterLink
      >
    </ul>
  </nav>
</footer>
