---
import SocialLink from './SocialLink.astro';
---

<footer
  class="fixed bottom-4 left-1/2 -translate-x-1/2 z-30 max-w-[92%] pt-14 px-4"
>
  <div
    class="bg-primary rounded-2xl flex items-center px-3 lg:px-4 py-4 lg:py-6"
  >
    <nav class="flex">
      <SocialLink label="Home" href="/" />
      <SocialLink label="Personal" href="/personal" />
      <SocialLink label="Portfolio" href="/portfolio" />
      <SocialLink label="Blog" href="/blog" />
      <SocialLink label="Contact" href="/contact" />
      <hr class="bg-secondary h-[1.82rem] w-[2px] mx-2" />
      <SocialLink
        label="LinkedIn"
        href="https://www.linkedin.com/in/thomasledoux91"
      />
      <SocialLink label="GitHub" href="https://github.com/thomasledoux1" />
    </nav>
  </div>
</footer>
