---
import classNames from 'classnames';
const url = Astro.request.url;
const linkClasses =
  'relative before:absolute before:bottom-[-6px] md:before:bottom-[-4px] before:h-[4px] before:w-[0] before:mt-[4px] before:bg-white md:before:bg-secondary before:transition-all before:duration-300 group-hover:before:w-full group-hover:after:w-full';
---

<li class="group">
  <a
    rel="prefetch"
    href="/personal"
    class={classNames(linkClasses, {
      'before:w-full after:w-full': url.includes('/personal'),
    })}
  >
    Personal</a
  >
</li>
<li class="group">
  <a
    rel="prefetch"
    href="/portfolio"
    class={classNames(linkClasses, {
      'before:w-full after:w-full': url.includes('/portfolio'),
    })}
  >
    Portfolio</a
  >
</li>
<li class="group">
  <a
    rel="prefetch"
    href="/blog"
    class={classNames(linkClasses, {
      'before:w-full after:w-full': url.includes('/blog'),
    })}
  >
    Blog</a
  >
</li>
<li class="group">
  <a
    rel="prefetch"
    href="/contact"
    class={classNames(linkClasses, {
      'before:w-full after:w-full': url.includes('/contact'),
    })}
  >
    Contact</a
  >
</li>
<li class="group">
  <a
    rel="prefetch"
    href="/cv"
    class={classNames(linkClasses, {
      'before:w-full after:w-full': url.includes('/cv'),
    })}
  >
    CV</a
  >
</li>
