---
import clsx from "clsx";
interface Props {
  tag: string;
  number: number;
  isActive: boolean;
  extraClass?: string;
}
const { tag, number, isActive, extraClass } = Astro.props;
---

<a
  class={clsx(
    extraClass,
    "rounded-md text-sm py-1 px-4 inline-flex items-center",
    {
      "border-secondary border-2 text-secondary": !isActive,
      "bg-secondary text-white": isActive,
    },
  )}
  rel="prefetch-intent"
  href={isActive ? "/blog" : `/blog/tags/${tag}`}
>
  {
    isActive ? (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width={1.5}
        stroke="currentColor"
        class="w-3 h-3 mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    ) : null
  }{" "}
  {tag} ({number})
</a>
