---
import Layout from './Layout.astro';
const frontmatter = Astro.props.frontmatter;
---

<Layout
  description="Blog by Thomas Ledoux. Writes about Javascript/React/Next.js/Remix/Astro. Always looking to learn about the newest frameworks and features."
  frontmatter={frontmatter}
>
  <a href="/blogs" class="flex items-center gap-x-2 mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width={1.5}
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
    </svg>
    Back to overview
  </a>
  <slot />
  <script is:inline src="/update-view-count"></script>
</Layout>
