---
import Layout from './Layout.astro';
interface Props {
  frontmatter: {
    minutesRead: string;
    title: string;
    file: string;
    url: string;
  };
}
const { frontmatter } = Astro.props;
import CommentsWrapper from '../components/CommentsWrapper';
import { getCommentsForBlog } from '../lib/get-comments-for-blog';
const comments = await getCommentsForBlog(frontmatter.url);
---

<Layout
  description="Blog by Thomas Ledoux. Writes about Javascript/React/Next.js/Remix/Astro. Always looking to learn about the newest frameworks and features."
  frontmatter={frontmatter}
>
  <a href="/blog" class="flex items-center gap-x-2 mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width={1.5}
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
    </svg>
    Back to overview
  </a>
  <article>
    <slot />
  </article>
  <div>
    <CommentsWrapper
      client:visible
      initialComments={comments}
      blogUrl={frontmatter.url}
    />
  </div>
  <script is:inline src="/api/blogs/update-view-count"></script>
</Layout>
