---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
const { frontmatter, title } = Astro.props;
import '../../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title ?? frontmatter.title}</title>
    <meta content={title ?? frontmatter.title} property="og:title" />
    <meta content={title ?? frontmatter.title} property="twitter:title" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="flex flex-col">
    <Navigation />
    <main
      class={`pt-24 pb-8 flex-grow flex flex-col justify-center container mx-auto ${
        frontmatter ? 'mdx' : ''
      }`}
    >
      <slot />
      <!-- your content is injected here -->
    </main>
    <Footer />
  </body>
</html>
