@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: local(''), url('/fonts/Inter.var.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url('/fonts/CalSans-SemiBold.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

:root {
  --lerp-0: 0.5;
  --lerp-1: 0.25;
  --lerp-2: 0.125;
  --lerp-3: 0.0625;
  --lerp-4: 0;
}

html {
  --primary: #c6ebbe;
  --secondary: #2c6e49;
  height: -webkit-fill-available;
}

.logo:hover .letter {
  animation: bounce 0.3s ease alternate;
}

.logo:hover .letter:nth-child(1) {
  animation-delay: 0.1s;
}

.logo:hover .letter:nth-child(2) {
  animation-delay: 0.2s;
}

.logo:hover .letter:nth-child(3) {
  animation-delay: 0.3s;
}

.logo:hover .letter:nth-child(4) {
  animation-delay: 0.4s;
}

.logo:hover .letter:nth-child(5) {
  animation-delay: 0.5s;
}

.logo:hover .letter:nth-child(6) {
  animation-delay: 0.6s;
}

.logo:hover .letter:nth-child(7) {
  animation-delay: 0.7s;
}

.logo:hover .letter:nth-child(8) {
  animation-delay: 0.8s;
}

.logo:hover .letter:nth-child(9) {
  animation-delay: 0.9s;
}

.logo:hover .letter:nth-child(10) {
  animation-delay: 1s;
}

.logo:hover .letter:nth-child(11) {
  animation-delay: 1.1s;
}

.logo:hover .letter:nth-child(12) {
  animation-delay: 1.2s;
}

.logo:hover .letter:nth-child(13) {
  animation-delay: 1.3s;
}

@keyframes bounce {
  50% {
    top: -5px;
  }

  100% {
    top: 0;
  }
}

:is(h1, h2, h3, h4) {
  @apply font-heading;
}

.astro-code {
  @apply rounded-lg p-4 my-4;
}

.mdx a:not(.tag) {
  @apply decoration-[3px] decoration-solid underline-offset-[3px] decoration-secondary underline;
}

.mdx p {
  line-height: 1.75;
  @apply break-words;
}

.mdx h4 {
  @apply text-lg;
}

.mdx h3 {
  @apply text-xl;
}

.mdx h2 {
  @apply text-2xl;
}

.mdx h1 {
  @apply mt-0 text-3xl;
}

.mdx :is(h1, h2, h3, h4) {
  @apply font-bold my-4 scroll-m-16 relative;
}

.mdx p {
  @apply mb-4;
}

.mdx .heading-wrapper {
  display: flex;
  align-items: baseline;
  column-gap: 1rem;
}

.mdx .heading-wrapper > .anchor-link {
  position: relative;
  display: inline-flex;
  margin-inline-end: -1.5rem;
  width: 1rem;
  height: 1rem;
  color: var(--theme-text-light);
  text-decoration: none;
  justify-content: center;
  vertical-align: baseline;
  opacity: 0.5;
}

.mdx .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (hover: hover) {
  .mdx .heading-wrapper > .anchor-link {
    opacity: 0;
  }
  .mdx .heading-wrapper:hover > .anchor-link {
    opacity: 1;
  }
  .mdx .heading-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: -2rem;
  }

  .mdx .heading-wrapper > :is(h1, h2, h3, h4) {
    margin-left: 1.5rem;
  }
}

.mdx code:not(pre code) {
  @apply bg-primary mx-1 px-1 py-[0.125rem] rounded-[0.25rem];
}

.link {
  @apply decoration-[3px] decoration-solid underline-offset-[3px] decoration-secondary underline;
}

body {
  min-height: -webkit-fill-available;
}

.text-border-black > span:first-child {
  text-shadow: 0 2px 0 var(--primary);
}

.text-border-black > span:not(:first-child) {
  --text-border-width: 2px;
  letter-spacing: 0.11rem;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: var(--text-border-width);
  -webkit-text-stroke-color: black;
  text-shadow: 0 1px 0 var(--secondary);
}

@media screen and (min-width: 768px) {
  .text-border-black > span:first-child {
    text-shadow: 0 3px 0 var(--primary);
  }
  .text-border-black > span:not(:first-child) {
    text-shadow: 0 3px 0 var(--secondary);
  }
}

.footer-item {
  transform: scale(calc(1 + var(--lerp)));
}

:is(.footer-item:hover, .footer-item:focus-visible) {
  --lerp: var(--lerp-0);
  z-index: 5;
}
.footer-item:has(+ :is(.footer-item:hover, .footer-item:focus-visible)),
:is(.footer-item:hover, .footer-item:focus-visible) + .footer-item,
.footer-item:has(+ hr + :is(.footer-item:hover, .footer-item:focus-visible)),
:is(.footer-item:hover, .footer-item:focus-visible) + hr + .footer-item {
  --lerp: var(--lerp-1);
  z-index: 4;
}

.footer-item:has(
    + .footer-item + :is(.footer-item:hover, .footer-item:focus-visible)
  ),
:is(.footer-item:hover, .footer-item:focus-visible)
  + .footer-item
  + .footer-item,
.footer-item:has(
    + .footer-item + hr + :is(.footer-item:hover, .footer-item:focus-visible)
  ),
:is(.footer-item:hover, .footer-item:focus-visible)
  + hr
  + .footer-item
  + .footer-item {
  --lerp: var(--lerp-2);
  z-index: 3;
}

.footer-item:has(
    + .footer-item
      + .footer-item
      + :is(.footer-item:hover, .footer-item:focus-visible)
  ),
:is(.footer-item:hover, .footer-item:focus-visible)
  + .footer-item
  + hr
  + .footer-item,
.footer-item:has(
    + .footer-item
      + .footer-item
      + :is(.footer-item:hover, .footer-item:focus-visible)
  ),
:is(.footer-item:hover, .footer-item:focus-visible)
  + .footer-item
  + hr
  + .footer-item {
  --lerp: var(--lerp-3);
  z-index: 2;
}
.footer-item:has(
    + .footer-item
      + .footer-item
      + .footer-item
      + :is(.footer-item:hover, .footer-item:focus-visible)
  ),
:is(.footer-item:hover, .footer-item:focus-visible)
  + .footer-item
  + .footer-item
  + .footer-item
  + .footer-item,
.footer-item:has(
    + .footer-item
      + .footer-item
      + .footer-item
      + hr
      + :is(.footer-item:hover, .footer-item:focus-visible)
  ),
:is(.footer-item:hover, .footer-item:focus-visible)
  + hr
  + .footer-item
  + .footer-item
  + .footer-item
  + .footer-item {
  --lerp: var(--lerp-4);
  z-index: 1;
}
